a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.top-wrapper {
  background-image: url("../img/editor.jpeg");
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 120px;
  text-align: center;
  color: white;
}
.container {
  width: 100%;
  margin: auto;
}
.top-wrapper h1 {
opacity: 0.9;
letter-spacing: 4px;
}
.top-wrapper p {
opacity: 0.9;
}
.btn-wrapper {
  margin-top: 60px;
}
.btn {
  padding: 15px 30px;
  border-radius: 4px;
  opacity: 0.7;
  color: aliceblue;
}
.signup {
background-color: yellowgreen;
}
.facebook {
background-color: blue;
margin-right: 20px;
height: 50px;
}
.twitter {
background-color: cornflowerblue;
height: 50px;
}
.btn-wrapper p {
  margin: 30px;
}
.btn:hover {
  opacity: 1;
}
.fab {
  padding-right: 20px;
}
.logo {
  width: 120px;
  margin: 20px 0px 0px 100px;
}
header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: all 0.2s;
}
.header-right a {
  color: aliceblue;
  display: block;
  padding: 18px 25px;
}
.header-right:hover {
  background-color: rgb(40, 128, 206);
}
.lesson-wrapper {
  height: 500px;
  background-color: rgb(241, 241, 241);
  text-align: center;
}
.heading {
  padding: 30px 0px;
  font-weight: normal;
  color: #5f5d60;
}
.lesson {
  float: left;
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 75px;
  color: azure;
  width: 100%;
}
.text-contents {
  font-size: 10px;
  width: 80%;
  display: inline-block;
  color: #b3aeb5;
  margin-top: 20px;
}
.message-wrapper {
  text-align: center;
  padding-bottom: 80px;
}
.heading h3 {
  font-weight: normal;
}
.message {
  background-color: #08d6fa;
  box-shadow: 0px 5px rgba(1, 78, 88, 0.39);
  cursor: pointer;
}
.btn:active {
  box-shadow: none;
  position: relative;
  top: 7px
}
footer img {
  width: 150px;
}
footer p {
  font-weight: normal;
  color: #b3aeb5;
}